:root {
  --primary-color: rgb(147, 202, 223);
  --accent-color: #ffc711;
}

body {
  font-family: "Gilroy";
  font-size: 42px;
  color: #fff;
  background-color: rgba(147, 202, 223, 1);
  overflow-x: hidden;
  font-weight: 700;
}

.container {
  width: calc(100% - 24px);
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .container {
    width: calc(100% - 48px);
  }
}

@media (min-width: 1280px) {
  .container {
    width: calc(100% - 120px);
  }
}

.header {
  background-color: transparent;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header.scrolled {
  background-color: rgb(147, 202, 223, 0.8);
  color: #333;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 126px;
  transition: height 0.3s ease-in-out;
}

header.scrolled .header__logo img {
  height: 80px;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}

.header__nav-item {
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  fill: #fff;
  transition: color 0.2s ease-in-out;
}

.header__nav-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__nav-arrow {
  margin-left: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

.header__nav-link:hover .header__nav-arrow {
  fill: var(--accent-color);
}

.header__language-switcher {
  position: relative;
  width: 40px;
  height: 40px;
}

.header__language-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  color: #4d4d4d;
  background: #fff;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.header__language-button.visible {
  opacity: 1;
}

.header__language-button.active {
  background-color: #fff;
  z-index: 100;
  transform: scale(1);
  opacity: 1;
}

.header__language-button:hover {
  background-color: var(--accent-color);
}

.header__menu-toggle {
  display: none;
}

@media (max-width: 1280px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 20px;
  }

  .header__nav.open {
    transform: translateX(0);
  }

  .header__menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
    width: 40px;
    height: 40px;
  }

  .header__menu-icon {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #fff;
    position: relative;
  }

  .header__menu-icon::before,
  .header__menu-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fff;
    left: 0;
    transition: transform 0.3s ease;
  }

  .header__menu-icon::before {
    top: -8px;
  }

  .header__menu-icon::after {
    top: 8px;
  }

  .header__menu-toggle.open .header__menu-icon {
    background-color: transparent;
  }

  .header__menu-toggle.open .header__menu-icon::before {
    transform: rotate(45deg) translateY(0px);
  }

  .header__menu-toggle.open .header__menu-icon::after {
    transform: rotate(-45deg) translateY(0px);
  }

  .header__logo img {
    height: 80px;
    transition: height 0.3s ease-in-out;
  }

  header.scrolled .header__logo img {
    height: 60px;
  }

  .header__language-switcher {
  }
}

/* Hero Section */
.hero {
  background: url("./assets/img/background-hero.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 100vh;
  padding-bottom: 120px;
}

.hero__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.hero__title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero__subtitle {
  font-size: 1.25vw;
  margin-bottom: 40px;
  opacity: 0;
  animation: slideInUp 0.3s 0.5s ease forwards;
}

.hero__title {
  text-align: start;
  font-size: 7.8vw;
  line-height: 7.8vw;
  margin: 0;
  opacity: 0;
  animation: slideInUp 0.3s 0.6s ease forwards;
}

.hero__property-select {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.hero__property-select-title {
  font-size: 2.19vw;

  width: 490px;
  text-align: end;
  margin-bottom: 40px;
  opacity: 0;
  animation: slideInUp 0.3s 0.5s ease forwards;
}

.hero__property-select-title span {
  color: var(--accent-color);
}

.hero__property-select-link {
  display: inline-block;

  background-color: var(--accent-color);
  color: #4d4d4d;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  padding: 19px 62px;

  border-radius: 50px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  opacity: 0;
  animation: slideInUp 0.3s 0.7s ease forwards;
}

.hero__property-select-link:hover {
  background-color: #eee;
}

@media (max-width: 1280px) {
  .hero__container {
    flex-direction: column;
    justify-content: flex-end;
    gap: 60px;
  }

  .hero__subtitle {
    font-size: 3vw;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInUp 0.3s 0.5s ease forwards;
  }

  .hero__title {
    font-size: 13vw;
    line-height: 13vw;
    opacity: 0;
    animation: slideInUp 0.3s 0.6s ease forwards;
  }

  .hero__property-select-title {
    font-size: 5vw;
    width: 70%;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInUp 0.3s 0.8s ease forwards;
  }

  .hero__property-select-link {
    padding: 15px 40px;
    font-size: 14px;
    opacity: 0;
    animation: slideInUp 0.3s 0.9s ease forwards;
  }
}

/* Projects */

.projects {
  padding-top: 300px;
  overflow: hidden;
}

.projects__container {
  position: relative;
}

.projects__title {
  font-size: 11vw;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;

  transform: translate(10%, -70%);
}

.swiper {
  width: 110vw;
}

.project {
  font-family: "Inter", sans-serif;
}

.project--gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.swiper-controllers {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  height: max-content;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  margin: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.project__image {
  width: calc(105vw / 3);

  aspect-ratio: 7 / 8;
  object-fit: cover;
  object-position: 25% 60%;
  position: relative;
}

.project__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.project__info-title {
  font-size: 2.1vw;
  font-weight: bold;
}

.project__info-subtitle {
  font-size: 12px;
  text-transform: uppercase;
}

.project__info-link {
  fill: #4d4d4d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 70px;
  height: 70px;

  background-color: var(--accent-color);
  transition: background-color 0.2s ease-in-out;
}

.project__info-link:hover {
  background-color: #fff;
}
/* Footer */
.footer {
  color: #2c2c2c;
  padding: 2;
  position: relative;
}

.footer__text {
  font-size: 42px;
  max-width: 935px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: start;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  z-index: 2;
}

.footer__text span {
  color: #fff;
}

.footer__title {
  text-align: center;
  color: #fff;
  padding: 50px;
  aspect-ratio: 16 / 9;
  background-image: url("./assets/img/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__title h3 {
  font-size: 7.26vw;
  line-height: 154px;

  position: relative;
  z-index: 2;
}

.footer__decoretion {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}

.footer__decoretion-l {
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/form-line-l.svg"),
    url("./assets/img/form-back-l.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 49%, -48%;
}
.footer__decoretion-r {
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/form-line-r.svg"),
    url("./assets/img/form-back-r.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0%, -250%;
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
